[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/probberechts/hexo-theme-cactus
[submodule "themes/newcactus"]
	path = themes/newcactus
	url = https://github.com/probberechts/hexo-theme-cactus
